<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/logo-mercado-liebre.svg" />
    <script
      src="https://kit.fontawesome.com/445d982738.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>MercadoLiebre-Login</title>
  </head>

  <body>
    <header>
      <div>
        <a href="#"
          ><img
            src="/images/logo-mercado-liebre.svg"
            alt="Imagen logo"
            class="logo-login"
        /></a>
      </div>
    </header>
    <main class="main-login">
      <form action="/ruta" method="POST" class="login-form">
        <div class="email-login">
          <input
            type="email"
            name="email"
            class="login"
            placeholder="Email"
            required
            maxlength="20"
          />
        </div>
        <div class="password-login">
          <input
            type="password"
            name="password"
            class="login"
            placeholder="Contraseña"
            required
            maxlength="10"
          />
        </div>
        <div>
          <button type="submit" class="button-login">Iniciar Sesión</button>
        </div>
        <div class="auto-login">
          <label for="checkbox-login">Recordar usuario y contraseña</label>
          <input type="checkbox" id="checkbox-login" name="checkbox-login" />
        </div>
        <div>
          <a href="#" class="forgot-password">Olvidaste la contraseña?</a>
        </div>
        <div>
          <a href="#" class="create-account">Crear una cuenta</a>
        </div>
      </form>
    </main>
 <div class="padre-footer">
 <footer class="footer">
    <article class="footer-elements">
      <i class="fa-solid fa-credit-card"></i>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </article>
    <article class="footer-elements">
      <i class="fa-solid fa-gift"></i>
      <h4>Envío gratis desde $ 2.500</h4>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </article>
    <article class="footer-elements">
      <i class="fa-solid fa-user-shield"></i>
      <h4>Seguridad, de principio a fin</h4>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </article>
    <article class="footer-elements">
      <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </article>
  </footer>
  </div>

     </body>
    
</html>
