<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Mi Primer Documento en HTML</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="contenedor01">
      <h2>Soy el contenedor01</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus
        voluptates tempore voluptate expedita pariatur maxime assumenda quae qui
        culpa neque sint, enim labore dicta architecto perspiciatis repudiandae,
        cupiditate officia sed!
      </p>
    </div>

    <div class="contenedor02">
      <h2>Soy el contenedor02</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus
        voluptates tempore voluptate expedita pariatur maxime assumenda quae qui
        culpa neque sint, enim labore dicta architecto perspiciatis repudiandae,
        cupiditate officia sed!
      </p>
    </div>
  </body>
</html>
