<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Mi Primer Documento en HTML</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="contenedor01">
      <h2>Soy el contenedor01</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus
        voluptates tempore voluptate expedita pariatur maxime assumenda quae qui
        culpa neque sint, enim labore dicta architecto perspiciatis repudiandae,
        cupiditate officia sed!
      </p>
    </div>

    <div class="contenedor02">
      <h2>Soy el contenedor02</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus
        voluptates tempore voluptate expedita pariatur maxime assumenda quae qui
        culpa neque sint, enim labore dicta architecto perspiciatis repudiandae,
        cupiditate officia sed!
      </p>
    </div>
    <!--<p class="oculto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
    inventore facilis voluptatum expedita sint autem dolorem asperiores excepturi
    libero totam consequatur recusandae placeat numquam sequi, magni quidem! Totam,
    repellendus facilis?</p>

   <article class="contenedor02">
      <h2>Lorem ipsum dolor sit am</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus fuga
        nesciunt odit quasi quisquam iusto, laborum voluptatum accusamus ea
        voluptate voluptates animi magni recusandae quaerat, dignissimos
        corporis repudiandae sequi ipsa!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus fuga
        nesciunt odit quasi quisquam iusto, laborum voluptatum accusamus ea
        voluptate voluptates animi magni recusandae quaerat, dignissimos
        corporis repudiandae sequi ipsa!
         <article class="contenedor01">
      <h2>soy el contenedor01</h2></article> <!--toma el 90% del contenedor que lo contiene 
      </p>
    </article>
  <article class="contenedor01">
    <h2>Lorem ipsum dolor sit am</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus fuga
      nesciunt odit quasi quisquam iusto, laborum voluptatum accusamus ea
      voluptate voluptates animi magni recusandae quaerat, dignissimos
      corporis repudiandae sequi ipsa!
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus fuga
      nesciunt odit quasi quisquam iusto, laborum voluptatum accusamus ea
      voluptate voluptates animi magni recusandae quaerat, dignissimos
      corporis repudiandae sequi ipsa!
    </p>
    <article class="contenedor02">
      <h2>soy el contenedor02</h2>
      <!--Rebalsa porque tiene el 90% del ancho total del viewport
    </article>-->

    <!--<h4>Soy un h4</h4>
    <h1>El titulo de nuestro documento</h1>
    <h2>Un subtitulo cualquiera</h2>

    <img src="images/VTV.png" alt="" />;
    <p id="container">
      Lorem <em>soy un texto en cursiva</em> ipsum dolor sit amet consectetur
      adipisicing elit. Ratione dignissimos iure aspernatur harum nihil
      voluptatum quia voluptatibus, ipsum asperiores maxime in. Possimus, libero
      unde ad aspernatur omnis fuga consequuntur vel.
    </p>
    <strong>este es otro texto en negrilla</strong>
    <p class="parrafo-destacado">
      Lorem ipsum dolor <strong>Esto es un texto en negrilla</strong> sit amet
      consectetur adipisicing elit. Laboriosam odio, voluptatum officiis magnam
      recusandae veritatis harum sequi doloribus commodi, pariatur maxime duc<em
        >soy un texto en cursiva</em
      >imus. Tempora maxime nulla sint consequatur, mollitia tempore a?
    </p>

    <ol>
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
    </ol>

    <ul>
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
    </ul>

    <a href="https://www.google.com">Ir a Google</a>-->
  </body>
</html>
